
.hero__subtitle img{
  width: 2.3rem;
  height: 2.3rem;
  }
  .hero__content h1{
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: black;
  }
  .hero__content h1 .highlight{
    color: black;
  
  }
  .hero__content{
    font-size: 1.1rem;
    color: black;
    line-height: 2rem;
  }
  .hero__img-box img,.hero__img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid rgb(190, 188, 188);
    object-fit: cover;
  }
  .hero__content{
    padding-top: 3.5rem;
  }
  .hero__img-box{
    padding-top: 2rem;
  }
  .services__subtitle{
  font-size: 2.2rem;
  font-weight: 500;
  color: #ee6e6e;
  font-family: italic;
  }
  .service__title{
    font-size: 2.5rem;
    font-weight: 500;
  }
  .featured__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
  }
  .experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
  }
  .experience__content p{
    font-size: 1.1rem;
    color: #ee6e6e;
    margin-top: 1rem;
  }
  .counter__box span{
  width: 700;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  color:#fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px 5px 10px 5px;
  }
  .counter__box h6{
  font-size: 1.1rem;
  margin-top: 0.7rem;
  color:black;
  }
  .experience__img img{
    width: 90%;
  }
  .gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
  }
  .Masonry__img{
    transition: .3s;
  
  }
  .Masonry__img:hover{
    transform: scale(1.1);
  }
  .testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 922px) {
  .hero__content h1 {
    font-size: 2.7rem;
  }

  .hero__img-box {
    display: none;
  }

  .hero__video-box {
    display: block;
  }
} 

@media only screen and (max-width: 576px) {
  .hero__content h1{
    font-size: 1.8rem;
  }
.service__title,
.featured__tour-title,
.gallery__title,
.testimonial__title,
.experience__content h2{
  font-size: 1.5rem;
}
}