.booking{
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(229,231,235);
  position: sticky;
  top:80px;
}
.booking__top{
  font-size: 2rem;
  font-weight: 700;
}
.booking__top h3 span{
  font-size: 1.1rem;
  font-weight: 400;
  color:rgb(136, 134, 134);
}
.booking__top span{
  font-size: 1.1rem;
  font-weight: 600;
  color:rgb(136, 134, 134);
}
.booking__top span i{
  color: orange;
}
.booking__top{
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(120, 120, 119);

}
.booking form{
  padding-top: 2rem;
}
.booking form h5{
  margin-bottom: 1rem;
}
.booking form input{
  width: 100%;
  padding: 0.5rem;
  border-radius: .5rem;
  color:rgb(120, 120, 119);
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid rgb(229,231,235);
 
}
.booking__form input:focus{
outline: none;
}
.booking__info-form{
  padding: 1rem;
  border: 1px solid rgb(214, 217, 217);
}

.booking__bottom li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking__bottom li h5,
.booking__bottom li span {
  font-size: 1rem;
  color: var(--text-color); 
  font-weight: 500;
}

.total h5,
.total span {
  color: var(--header-color) !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
}