.tour__img img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card{
  border: none !important;
  box-shadow: rgba(0,0,0,0.2) 0px 18px 50px -10px;
}
.tour__img{
  position: relative;

}
.tour__img span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background: black;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 0 0 0;
}
.card__top span i{
  color: orange;
}
.tour__rating{
  font-size: 0.9rem;
  color: black;
}
.tour__location{
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
}
.tour_rating i,
.tour_location i{
font-size: 1rem;
}
.tour__title{
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.tour__title a{
text-decoration: none;
color: black;
transition: .3s;
}
.tour__title a:hover{
  color:burlywood;
}
.card__bottom h5{
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}
.card__bottom h5 span{
  font-weight: 500;
  color: black;
  font-size: .8rem;
}
.booking__btn{
  background-color:  orange !important;
  cursor: pointer;
  padding: 0.2 rem 0.5rem;

}
.booking__btn a{
  text-decoration: none;
  font-size: .9rem;
  color: white;
}
.booking__btn a:hover{
color: black;
}
@media only screen and (max-width:576px) {
  .tour__title{
    font-size: 1rem;
  }
  .booking__btn a{
    font-size: 0.8rem;
  }
  .booking__btn{
    padding: 0.2rem 0.5rem !important;
  }
  .tour_location,.tour_rating{
font-size: 0.8rem;
  }
}